<ul
  nz-menu
  [nzInlineCollapsed]="isCollapsed$ | async"
  [nzMode]="(themesOptions$ | async)!.mode === 'side' || (themesOptions$ | async)!.mode === 'mixi' || (isOverMode$ | async) ? 'inline' : 'horizontal'"
  [nzNoAnimation]="(themesOptions$ | async)!.mode === 'top'"
  [nzTheme]="isMixiMode && !(isOverMode$ | async) && !(isNightTheme$ | async) ? 'light' : isMixiMode && (isNightTheme$ | async) ? 'dark' : (themesOptions$ | async)!.theme"
>
  <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: isMixiLeft ? leftMenuArray : menus }"></ng-container>
  <ng-template #menuTpl let-menus>
    <ng-container *ngFor="let menu of menus; trackByProperty: 'id'">
        <!--first level-->
        <li *ngIf="!menu.children || menu.children.length === 0" nz-menu-item [nzPaddingLeft]="(themesMode !== 'top' || isOverMode) && !isCollapsed ? 16 : 0" [nzSelected]="menu.selected">
          <a (click)="changeRoute($event, menu)">
            <i *ngIf="menu.icon" nz-icon [nzType]="menu.icon"></i>
            <i *ngIf="menu.alIcon" nz-icon [nzIconfont]="menu.alIcon"></i>
            <span>{{ menu.menuName }}</span>
          </a>
        </li>
        <!--second level-->
        <ng-container *ngIf="menu.children && menu.children.length > 0">
          <li nz-submenu [nzPaddingLeft]="(themesMode !== 'top' || isOverMode) && !isCollapsed ? 16 : 0" [nzTitle]="titleTpl" [(nzOpen)]="menu.open" (nzOpenChange)="changeOpen(menu, menus)">
            <ng-template #titleTpl>
              <i *ngIf="menu.icon" nz-icon [nzType]="menu.icon"></i>
              <i *ngIf="menu.alIcon" nz-icon [nzIconfont]="menu.alIcon"></i>
              <span>{{ menu.menuName }}</span>
            </ng-template>
            <ul>
              <ng-container *ngFor="let menuSecond of menu.children; trackByProperty: 'id'">
                  <li
                    *ngIf="!menuSecond.children || menuSecond.children.length === 0"
                    nz-menu-item
                    [nzPaddingLeft]="(themesMode !== 'top' || isOverMode) && !isCollapsed ? 32 : 0"
                    [nzSelected]="menuSecond.selected"
                  >
                    <a (click)="changeRoute($event, menuSecond)">
                      <i *ngIf="menuSecond.icon" nz-icon [nzType]="menuSecond.icon"></i>
                      <i *ngIf="menuSecond.alIcon" nz-icon [nzIconfont]="menuSecond.alIcon"></i>
                      <span>{{ menuSecond.menuName }}</span>
                    </a>
                  </li>
                  <!--third level-->
                  <li
                    *ngIf="menuSecond.children && menuSecond.children.length > 0"
                    nz-submenu
                    [nzPaddingLeft]="(themesMode !== 'top' || isOverMode) && !isCollapsed ? 32 : 0"
                    [nzTitle]="titleTpl"
                    [(nzOpen)]="menuSecond.open"
                    (nzOpenChange)="changeOpen(menuSecond, menu.children)"
                  >
                    <ng-template #titleTpl>
                      <i *ngIf="menuSecond.icon" nz-icon [nzType]="menuSecond.icon"></i>
                      <i *ngIf="menuSecond.alIcon" nz-icon [nzIconfont]="menuSecond.alIcon"></i>
                      <span>{{ menuSecond.menuName }}</span>
                    </ng-template>
                    <ul>
                      <ng-container *ngFor="let menuThird of menuSecond.children; trackByProperty: 'id'">
                          <li
                            *ngIf="!menuThird.children || menuThird.children.length === 0"
                            nz-menu-item
                            [nzPaddingLeft]="(themesMode !== 'top' || isOverMode) && !isCollapsed ? 48 : 0"
                            [nzSelected]="menuThird.selected"
                          >
                            <a (click)="changeRoute($event, menuThird)">
                              <i *ngIf="menuThird.icon" nz-icon [nzType]="menuThird.icon"></i>
                              <i *ngIf="menuThird.alIcon" nz-icon [nzIconfont]="menuThird.alIcon"></i>
                              <span>{{ menuThird.menuName }}</span>
                            </a>
                          </li>
                      </ng-container>
                    </ul>
                  </li>
              </ng-container>
            </ul>
          </li>
        </ng-container>
    </ng-container>
  </ng-template>
</ul>


